<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Example Category Card -->
      <ion-col size="6" size-md="4" *ngFor="let category of categories">
        <ion-card (click)="navigateToCategory(category.route)">
          <ion-card-header>
            <ion-card-title>{{ category.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img [src]="category.image" alt="{{ category.name }}" />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
